<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <style id="antiClickjack">body {
        display: none !important;
    }</style>
    <script>
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        }
    </script>
</head>
<body>
<th:block th:fragment="topMenu">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            維護設定
        </a>
        <ul class="dropdown-menu" th:url>
            <li><a class="dropdown-item" th:href="@{/role}">權限維護</a></li>
        </ul>
    </li>
</th:block>
</body>